<html>
<head>
  <style>
    .ui_home_card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: 20px;
      text-align: center;
      border: #8c0615;
      display:inline-block;
      padding: 10px;
    }

    .title {
      color: gray;
      font-size: 18px;
    }

    h1 {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }
  </style>
</head>

<body>

<div class="ui_home_card">
  <h1>User</h1>
  <p class="title">View/manage user account information</p>
</div>

<div class="ui_home_card">
  <h1>Clinic</h1>
  <p class="title">View/manage clinic account information</p>
</div>

</body>