<html>
<head>
  <style>
    .ui_center_card{
      margin:auto;
      margin-top: 50px;
    }
    .ui_home_card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: 20px;
      text-align: center;
      display:inline-block;
      padding: 10px;
      border: medium solid red;
      border-radius: 10px;
    }

    .title {
      color: gray;
      font-size: 18px;
    }

    .card {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }
  </style>
</head>

<body>

<div class="ui_home_card">
  <a class ="card" href= <%= doctors_path %>>Doctor</a>
  <p class="title">View/Search for doctors</p>
</div>

<div class="ui_home_card">
  <a class ="card" href= <%= new_referral_path %>>Create</a>
  <p class="title">Create referral </p>
</div>

<div class="ui_home_card">
  <a class ="card" href= <%= referrals_path %>>Pending</a>
  <p class="title">View pending referrals </p>
</div>

</body>